* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


header{
   display:flex;
   align-items: center;
    justify-content:left;
    justify-content: space-around;
    
 }
 .logo{

     width: 100%;
 }
 
 li{
    list-style: none;
    display: flex;
    margin: 0;
    
 }
 .navbar{
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
 }
 
 a:hover{
    color:#FF6565;
 }
 

 .links{
    display: flex;
    width: 100%;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
     font-family: "Source Sans 3", sans-serif;
     text-decoration: none;
     color: white;
     margin: 15px;
     font-size: 15px;
 }
 .bar-menu{
    font-size: 2rem;
    cursor: pointer;
    display: none;
 }
 
 .leading{
     height: 110vh;
     background-image: url("headphones images/headphones_hero_1.jpg");
     background-size: cover;
     color: white;
     
 }
 .initial-heading{
    font-family: "Source Sans 3", sans-serif;
    font-size: 40px;
    font-weight: bolder;
    padding-top: 2px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 280px;
 }
 .mini-heading{

    font-family: "Source Sans 3", sans-serif;
    font-size: 20px;
    padding-top: 2px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    
 }
 button{
    font-size: 18px;
    background-color: #FF6565;
    width: max-content;
    color: #FFFFFF;
    border-radius: 50px;
    text-align: center;
    font-family: "Source Sans 3", sans-serif;
    display: block;
    margin: auto;
    margin-top: 30px;
    border: none;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left:20px ;
    padding-right: 15px;
 }
 .initial-paragraph{
    font-family: "Source Sans 3", sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 80px;
    
 }

 @media only screen and (max-width: 1000px) and (max-height: 1500px) {
   .logo{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 10rem;
      
   }
    .links{
        display: none;
    }
    .bar-menu{
      display:block;
      justify-items: left;
      
  }
    .initial-heading{
        text-align: center;
        padding-left: 4rem;
        padding-right: 4rem;
        font-size: 35px;
        
    }
    .mini-heading{
      text-align: center;
        padding-left: 4rem;
        padding-right: 4rem;
        
        
        font-size: 25px;

    }
    button{
      padding-right: 50rem;
      margin-right: 20px;
      margin-top: 40rem;
    }
    .initial-paragraph{
      text-align: center;
        padding-left: 15rem;
        padding-right: 15rem;
        padding-top: 10rem;
        font-size: 25px;
    }
    .leading{
      background-position: 30%;
    }
    
  }
    
  
  