.contact-form{
    font-size: 30px;
    text-align: center;
    margin-top: 70px;
    font-family: "Source Sans 3", sans-serif;
    font-weight: bolder;
}
.form-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name-content{
    position: relative;
    border-bottom: 1px solid #adadad;
    margin: 10px 0;
    padding-left: 100px;
    

}
.name-content input{
    width:100%;
    padding:0 5px;
    height:40px;
    font-size: 16px;
    border:none;
    background: none;
    outline: none;
    
}

.name-content label{
    position: absolute;
    top: 4%;
    left: 2px;
    color:black;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}
button{
    font-size: 18px;
    background-color: #FF6565;
    width: max-content;
    color: #FFFFFF;
    border-radius: 50px;
    text-align: center;
    font-family: "Source Sans 3", sans-serif;
    display: block;
    margin: auto;
    margin-top: 50px;
    border: none;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left:20px ;
    padding-right: 15px;
}