/*body*/

body .works_on_smartphone {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
}


/*main*/
main {
    display: flex;
    flex-direction: row;
    flex: auto;
    
}

/*article*/
main article {
    flex: 2;
    overflow-y: auto;
    margin: 20px;
    color: white;
    padding: 60px;
    background-color: lightsalmon;

}

/*aside*/
main aside {
    flex: 1;
    overflow-y: auto;
}